/* Projects */

.project-card {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.mock-img-1 {
  background: linear-gradient(135deg, #2b5876 0%, #4e4376 100%);
}
.mock-img-2 {
  background: linear-gradient(135deg, #141e30 0%, #243b55 100%);
}

.project-info {
  padding: 25px;
}

.project-info p {
  color: var(--text-muted);
  font-size: 0.9rem;
  margin-top: 10px;
}
