/* --- GLOBAL STYLES --- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");

:root {
  --bg-color: #050505;
  --text-main: #ffffff;
  --text-muted: #a1a1aa;
  --card-bg: rgba(255, 255, 255, 0.03);
  --border-color: rgba(255, 255, 255, 0.08);
  --accent-1: #00f2fe;
  --accent-2: #4facfe;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--text-main);
  overflow-x: hidden;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  height: 100px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  text-decoration: underline;
  color: #00f2fe;
}
